/*==========Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Montserrat:wght@100&display=swap');

/*==========Variables==========*/
:root {
  --skyblue: rgb(131, 220, 238);
  --darkblue: rgb(42, 45, 97);
  --mustard: rgb(252, 203, 125);
  --coral: rgb(251, 112, 116);
}

* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: grid;

  grid-template-areas:
    "header header "
    "nav content ";
    
  grid-template-columns: 20% 1fr ;
  grid-template-rows: auto 1fr ;
  grid-gap: 10px;
  height: 100vh;
}

header {
  grid-area: header;
}

body {
  text-align: center;
  background: url(https://i.imgur.com/LBDUD3J.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  grid-area: nav;
  margin-left: 0.5rem;
  margin-top: 180px;
}

.nav-text {
  font-family: 'Londrina Outline', cursive;
  font-size: 20px;
  color: var(--darkblue)
}

a {
  text-decoration: none;
}

main {
  grid-area: content;
}

.aside {
  grid-area: aside;
  margin-right: 15rem;
  margin-top: 8rem;
  
}

.new-form {
  display: grid;
  grid-template-columns: [labels] 1fr [controls] auto;
  grid-auto-flow: row;
  grid-gap: .6em;
  padding: .1em;
}
/* .new-form > input,
.new-form > textarea,
.new-form > button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: .2em;
} */

.logo {
  font-family: 'Londrina Outline', cursive;
  font-weight: lighter;
  font-size: 80px;
  color: var(--darkblue)
}

