/*==========Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid&family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Montserrat:wght@100&display=swap');

/*==========Variables==========*/
:root {
  --skyblue: rgb(131, 220, 238);
  --darkblue: rgb(42, 45, 97);
  --mustard: rgb(252, 203, 125);
  --coral: rgb(251, 112, 116);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  background: url(https://i.imgur.com/UGohCPf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;

  grid-template-areas:
    "header header "
    "nav content ";
    
  grid-template-columns: 20% 1fr ;
  grid-template-rows: auto 1fr ;
  grid-gap: 10px;
  height: 100vh;
}
/*==========Header==========*/
header {
  grid-area: header;
}
.logo {
  font-family: 'Londrina Solid';
  font-weight: lighter;
  font-size: 80px;
  color: var(--darkblue);
  text-align: left;
  margin: 10px
}

/*==========Nav==========*/
nav {
  grid-area: nav;
  margin-left: 0.5rem;
  margin-top: 180px;
}

.nav-text {
  font-family: 'Londrina Solid';
  font-size: 35px;
  color: var(--darkblue);
  margin:20px
}

a {
  text-decoration: none;
  color: var(--darkblue);
}

/*==========Main==========*/

main {
  grid-area: content;
}

/*==========Form==========*/
.aside {
  grid-area: aside;
  margin-right: 28rem;
  margin-top: 8rem;
  
}
.new-form {
  display: grid;
  grid-template-columns: [labels] auto [controls] 5fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  padding: .3em;
  border-radius: 8px;
} 

.new-form > input,
.new-form > textarea,
.new-form > button {
  grid-column: controls;
  grid-row: auto;
  /* border: none; */
  padding: .8em;
  
}

.nw-sur {
  border-radius: 5px;
  border: 1.2px solid var(--darkblue);
  background: transparent;
}

.nw-sur::placeholder {
  color: var(--darkblue);
}

.form-head {
  font-family: 'Londrina Solid';
  color: var(--darkblue);
  margin-top: 80px;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-position: under; 

}

/*==========Categories==========*/
.category-head {
  font-family: 'Londrina Solid';
  color: var(--darkblue);
  margin-top: 80px;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-position: under; 

}

/* .category-head2 {
  font-family: 'Montserrat';
  color: var(--darkblue);
  font-weight: bolder;
  margin: 150px;
} */

.categories {
  font-family: 'Montserrat';
  font-weight: bolder;
  color: var(--darkblue);
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
  border-radius: 25px;
  background-color: rgb(252, 203, 125, 0.8);
  /* border: var(--mustard) solid 2px; */
  /* box-shadow: 0 8px 16px 0 rgba(42, 45, 97,0.2); */
  width: 175px;
  height: 160px;
}

img {
  margin-top: 8px;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px rgba(42, 45, 97,0.5);
}

.frame {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 100px;
  margin-left: 100px
}

.categories:hover {
  box-shadow: 0 8px 16px 0 rgba(42, 45, 97,0.2);
}

